html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
  background-color: hsl(34, 100%, 95%);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  margin: 60px 5% 5%;
  padding-bottom: 100px;
}

nav {
  margin: 0;
  padding: 0;
  background-color: rgba(96, 27, 27, 0.942);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0px;
  z-index: 99;
  justify-content: space-evenly;
}

/* 
Hotel Lotus: style="padding-left: 50px
Login: style="padding-left: 62%; text-decoration: none; font-size: large */

nav a {
  color: white;
  opacity: 90%;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(249, 220, 182);
  opacity: 100%;
}

.menu {
  font-size: large;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

footer {
  position: relative;
  width: 100%;
  height: 15%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: antiquewhite;
  margin-top: auto;
}

footer .social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 0;
  width: 100%;
}

footer .social li {
  list-style: none;
}

footer .social a {
  font-size: 1em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

footer .social a:hover {
  transform: translateY(-5px);
}

h4 {
  color: rgba(96, 27, 27, 0.942);
}

legend {
  color: rgba(96, 27, 27, 0.942);
}
