/* figure {
    float: right;
    min-width: 400px;
    max-width: 470px;
}

img {
    width: 100%;
} */

main {
  display: flex;
  max-width: 600px;
  min-width: 75vh;
  min-height: 75vh;
  margin: 40px auto;
  overflow: auto;
}

form {
  width: 100%;
  margin: 50px;
  padding: 5px;
}

form fieldset {
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #994841;
  background-color: #994841;
  color: #f6f6e9;
  padding: 4%;
  box-shadow: 0px 10px 40px #00000056;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 2%;
}

input,
select {
  min-height: 25px;
  padding: 1px 15px;
}

select {
  height: 30px;
}

textarea {
  resize: none;
  overflow: auto;
  padding: 15px;
}

section {
  display: inherit;
  flex-direction: inherit;
  gap: 10px;
  padding: 10px 0;
}

section:last-child {
  display: inherit;
  gap: 10px;
  flex-direction: row;
}

button {
  background-color: #f6f6e9;
  color: #742821;
  min-width: 30%;
  min-height: 40px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid;
  outline: none;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10%;
}

button:hover {
  cursor: pointer;
  background-color: #f2bd94ce;
  font-weight: bold;
}
