@import url('http://fonts.cdnfonts.com/css/zrnic');

body {
    background: linear-gradient(#f2bd94c0,#f0ad7a), url('./assets/bannerIndex.png'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.container{
    font-family: 'Zrnic', sans-serif;
    text-align: center;
}

.forms{
    border-radius: 500px;
    position: absolute;
    left: 28%;
    top: 5%;
    background-color:rgba(245, 245, 245, 0.733);
    border: 1px solid #742821;
    color: #742821;
    width: 500px;
    height: 500px;
    align-content: center;
    font-size:larger;
}

.inside_forms {
    position: relative;
    top: 17%;
}

input:invalid + span::after {
    position: absolute;
    /* content: "✖"; */
    padding-left: 5px;
  }

input:valid + span::after {
    position: absolute;
    content: "✓";
    padding-left: 5px;
  }

p {
    color: rgb(92, 91, 91);
}

.buttons {
    text-transform: uppercase;
  }
  
.button {
    position: relative;
    align-items: center;
    font-family: 'Zrnic', sans-serif;
    width: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #742821;
    background-color: #f2bc94;
    box-shadow: -2px 2px #222, -2px 4px #000;

}

.button:active {
box-shadow: inset -2px 2px 0 #222;
font-size:  0.9rem;
}