@import url('http://fonts.cdnfonts.com/css/zrnic');

body {
    background: linear-gradient(#f2bc94,#f2bc94); 
}

.container{
    font-family: 'Zrnic', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.left_reserva {

    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left_reserva h1{
    color: #30110d;
}

.right_reserva {

    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


.forms{
    top: 10%;
    background-color: #742821;
    color: #f2bc94;
    border-radius: 20px;
    width: 60%;
    padding: 30px 35px;
    box-shadow: 0px 10px 40px #00000056;
    
}

input {
    box-sizing: border-box;
}

h3  {
    color: #f2bc94;
    font-weight: 800;
    margin: 0;
    text-align: center;
}


.selecionador{
    width: 40px;
}

.buttons {
    display: flex;
    align-items: center;
  }
  
.button {
    text-transform: uppercase;
    font-family: 'Zrnic', sans-serif;
    text-align: center;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 3px;
    color:  #742821;
    background-color: #f2bc94;
    cursor: pointer;
    box-shadow: 0px 0px 40px 0px #c99d7b;
    border: 1px solid #30110d;

}

.button:hover {
    background-color: #f2bd94ce;
}

.modal-title.fs-5{
    color: #742821;
}

.btn.btn-secondary{
    background-color: #742821;
}

.btn.btn-secondary:hover {
    background-color: #30110d;
}

.telefone {
    position: inherit;
    top: 10px;
}
